@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(54, 55, 56);
}

.content {
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 960px;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: '';
    position: absolute;
    background-color: blueviolet;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #f5f5f5;
}

.title-second {
    color: blueviolet;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #f5f5f5;
}

.description-second {
    color: #95a5a6;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #f5f5f5;
}

.btn-primary:hover {
    background-color: #f5f5f5;
    color: blueviolet;
}

.btn-second {
    background-color: blueviolet;
}

.btn-second:hover {
    background-color: whitesmoke;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.first-content {
    display: flex;
    display: none;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 1;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media:hover .item-social-media {
    background-color: blueviolet;
    color: whitesmoke;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
    color: #95a5a6;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.second-content {
    position: absolute;
    display: flex;
}